 name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10

      - name: Install Buildozer
        run: |
          pip install buildozer
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk

      - name: Build APK
        run: |
          buildozer android debug